

.button1 {
    display: inline-block;
    padding: 10px 20px;
    background-color: rgb(148, 0, 161); 
    color: white;
    text-decoration: none;
}

.button2 {
    display: inline-block;
    padding: 10px 20px;
    background: linear-gradient(to right, #00158d, #4e0081);
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}
.button2:hover {
    background: rgb(148, 0, 161);
    color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px rgb(234, 0, 255),
                0 0 25px rgb(234, 0, 255),
                0 0 50px rgb(234, 0, 255),
                0 0 100px rgb(234, 0, 255);
    transform: scale(1.05) rotateY(20deg) rotateX(10deg);
  }
.button2 a span {
    position: absolute;
    display: block;
}
@keyframes btn {
    0% {
      left: -100%;
    }
  
    50%,100% {
      left: 100%;
    }
}
.button2 a span:nth-child(1) {
    bottom: 2px;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, rgb(234, 0, 255));
    animation: btn 2s linear infinite;
}





.button3 {
  display: inline-block;
  width: 200px;
  padding: 10px 20px;
  background: linear-gradient(to right, #00158d, #4e0081);
  color: white;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}
.button3:hover {
  background: rgb(148, 0, 161);
  color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 5px rgb(234, 0, 255),
              0 0 25px rgb(234, 0, 255),
              0 0 50px rgb(234, 0, 255),
              0 0 100px rgb(234, 0, 255);
  transform: scale(1.05) rotateY(20deg) rotateX(10deg);
}
.button3 a span {
  position: absolute;
  display: block;
}
@keyframes btn {
  0% {
    left: -100%;
  }

  50%,100% {
    left: 100%;
  }
}
.button3 a span:nth-child(1) {
  bottom: 2px;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, rgb(234, 0, 255));
  animation: btn 2s linear infinite;
}