
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Fugaz+One&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", Helvetica, sans-serif;
}

html {
    height: 100%;
    box-sizing: border-box;

}

body {
    min-height: 100%;
    display: grid;
    place-items: center;
    justify-content: center;
    background-attachment: fixed;
    position: relative;
    margin: 0;
    padding-bottom: 570px;
    box-sizing: inherit;
    background: url(Photos/purple-bg.png) no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1.3rem 10%;
    background: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(100px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo {
    font-size: 2rem;
    font-weight: bold;
    color: #fff;
    text-decoration: none;
    margin-left: 2.5rem;
}

.navbar a {
    font-size: 1.15rem;
    color: #fff;
    text-decoration: none;
    margin-left: 2.5rem;
}

.logo:hover {
    color: rgb(234, 0, 255);
    font-size: 2.1rem;
    margin-left: 2.1rem;
}

.navbar a {
    font-size: 1.15rem;
    color: #fff;
    text-decoration: none;

    margin-left: 2.5rem;
    transition: color 0.3s, font-size 0.3s, margin-left 0.3s;
}

.navbar a:hover {
    color: rgb(234, 0, 255);
    font-size: 1.3rem;
    margin-left: 3rem;
    font-weight: 700;
}






.container6 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top:  200px;
}

.card {
    background-color: #ececec;
    border-radius: 10px;
    padding: 20px;
    width: 550px;
    display: flex;
    flex-direction: column;
  }
  
  .title {
    font-size: 28px;
    font-weight: 700;
    text-align: center;
  }
  
  .form {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
  }
  
  .group {
    position: relative;
  }
  
  .form .group label {
    font-size: 14px;
    color: rgb(99, 102, 102);
    position: absolute;
    top: -10px;
    left: 10px;
    background-color: #fafafa;
    transition: all .3s ease;
  }
  
  .form .group input,
  .form .group textarea {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    margin-bottom: 20px;
    outline: 0;
    width: 100%;
    background-color: transparent;
  }
  
  .form .group input:placeholder-shown+ label, .form .group textarea:placeholder-shown +label {
    top: 10px;
    background-color: transparent;
  }
  
  .form .group input:focus,
  .form .group textarea:focus {
    border-color: rgb(148, 0, 161);
  }
  
  .form .group input:focus+ label, .form .group textarea:focus +label {
    top: -10px;
    left: 10px;
    background-color: #fafafa;
    color: rgb(148, 0, 161);
    font-weight: 600;
    font-size: 14px;
  }
  
  .form .group textarea {
    resize: none;
    height: 100px;
  }
  
  .form button {
    background-color: rgb(0, 0, 0);
    color: #fafafa;
    border: none;
    border-radius: 5px;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  
  .form button:hover {
    background-color: rgb(148, 0, 161);
  }
  
  





  /* Footer */


  footer {
    width: 100%;
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
    background:  linear-gradient(to right, #000b4b, #280042);
    color: #fff;
    padding: 100px 0 25px;
    border-top-left-radius: 125px;
    font-size: 13px;
    line-height: 20px;
}
.footer-row {
    width: 85%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
}
.footer-col {
    flex-basis: 25%;
    padding: 30px;
}
.footer-col:nth-child(2), .footer-col:nth-child(3) {
    flex-basis: 15%;
}

.foot-logo {
    width: 80px;
    margin-bottom: 30px;
}
.footer-col h3 {
    width: fit-content;
    margin-bottom: 40px;
    position: relative;
}
.email-id {
    width: fit-content;
    border-bottom: 1px solid #ccc;
    margin: 20px 0;
}
ul li {
    list-style: none;
    margin-bottom: 12px;
}
ul li a {
    text-decoration: none;
    color: #fff;
}
.social-icons img {
    width: 40px; 
    height: 40px;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    font-size: 20px;
    color: #000;
    margin-right: 15px;
    cursor: pointer;
}
.social-icons:hover img {
    width: 40px; 
    height: 40px;
    transform: scale(1.05);
}
.hr {
    width: 90%;
    border: 0;
    border-bottom: 1px solid #ccc;
    margin: 20px auto;
}
.copyright {
    text-align: center;
}
.underline {
    width: 100%;
    height: 5px;
    background: #767676;
    border-radius: 3px;
    position: absolute;
    top: 25px;
    left: 0;
    overflow: hidden;
}
.underline span {
    width: 15px;  
    height: 100%;  
    background: #fff;  
    border-radius: 3px;  
    position: absolute;  
    top: 0;  
    left: 10px;  
    animation: moving 2s linear infinite;
}
@keyframes moving {
    0% {
        left: -20px;
    }
    100% {
        left: 100px;
    }
}
.container-small {
    display: flex; 
    justify-content: space-between;
}